@model NETCoreLog.Models.Identity.LoginViewModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<h1>Formularz Logowania</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form class="form-horizontal" asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Hasło</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Zaloguj</button>
</form>
